.git
.gitignore
.github
.vscode
.idea

# Deps
node_modules
vendor

# Build artifacts
public/build
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/logs/.gitignore
!storage/framework/**/.gitignore

# Env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Tests
tests
phpunit.xml

# Misc
*.log
*.md